<form *ngIf="address" [formGroup]="contactForm" (submit)="submit()" class="col-md-offset-2 col-md-8" novalidate>
	<h2>Address details</h2>
	<div class="form-group">
		<div class="contact-line contact-label"><label>User Name</label></div>
		<div class="contact-line contact-text"><input type="text" name="username" formControlName="username" 
		  required class="form-control" placeholder="username" [(ngModel)]="address.username"></div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>Address Line 1</label></div>
		<div class="contact-line contact-text">
			<input type="text" id="addressline1" name="addressline1" formControlName="addressline1" class="form-control" 
				   [class.isError]="contactForm.controls['addressline1'].errors?.minlength || 
				   contactForm.controls['addressline1'].errors?.maxlength || contactForm.controls['addressline1'].errors?.required" 
				   [(ngModel)]="address.addressline1" placeholder="Address line 1">
		</div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>Address Line 2</label></div>
		<div class="contact-line contact-text">
			<input type="text" name="addressline2" formControlName="addressline2" class="form-control" 
				   [class.isError]="contactForm.controls['addressline2'].errors?.minlength || 
				   contactForm.controls['addressline2'].errors?.maxlength"
				   [(ngModel)]="address.addressline2"
				   placeholder="Address line 2">
		</div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>City</label></div>
		<div class="contact-line contact-text"><input type="text" name="city" formControlName="city" 
			class="form-control" placeholder="City" [(ngModel)]="address.city" 
			[class.isError]="contactForm.controls['city'].errors?.required"></div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>Postcode</label></div>
		<div class="contact-line contact-text"><input type="text" name="postcode" formControlName="postcode" 
		class="form-control" placeholder="Postcode" [(ngModel)]="address.postcode" 
		[class.isError]="contactForm.controls['postcode'].errors?.required"></div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>Country</label></div>
		<div class="contact-line contact-text"><input type="text" name="country" formControlName="country" 
		class="form-control" placeholder="Country" [(ngModel)]="address.country" 
		[class.isError]="contactForm.controls['country'].errors?.required"></div>
	</div>
	<div class="form-group">
		<div class="contact-line contact-label"><label>Telephone</label></div>
		<div class="contact-line contact-text"><input type="tel" name="telephone" formControlName="telephone" 
		required class="form-control" placeholder="Telephone" [(ngModel)]="address.telephone" 
		[class.isError]="contactForm.controls['telephone'].errors?.required || contactForm.controls['telephone'].errors?.minlength"></div>
	</div>

	<div class="form-group">
		<button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">Save</button>
		<button class="btn btn-primary" (click)="cancel()">Cancel</button>
	</div>
</form>
