<div class="process-body">
	<div class="spa-page-title">Order Processing</div>
	<div class="row history-table">
		<div class="history-info col-md-12 well well-sm">
			<div class="row">
				<div class="col-md-2 history-name-title">Order No.</div>
				<div class="col-md-2 history-name-title">Date</div>
				<div class="col-md-2 history-name-title">Total</div>
				<div class="col-md-2 history-name-title">User Id</div>
				<div class="col-md-2 history-name-title">Order Status</div>
				<div class="col-md-2 history-name-title"></div>
			</div>
			<div class="row" *ngFor="let h of allOrders">
				<div class="col-md-2 history-name">{{h.orderNumber}}</div>
				<div class="col-md-2 history-name">{{h.orderDate | date:'dd-MM-yyyy HH:mm'}}</div>
				<div class="col-md-2 history-name">{{h.orderTotal | currency:"GBP":true}}</div>
				<div class="col-md-2 history-name">{{h.userName}}</div>
				<div class="col-md-2 history-name">{{h.orderStatus | transformStatus}}</div>
				<div class="col-md-2 history-name"></div>
			</div>
		</div>
	</div>
</div>
<div class="process-footer">
	<div>Detail</div>
</div>