.history-info img {
	max-width: 50px;
	float: left;
	margin: 0 2px 0 11px; 
	border: solid 1px #A9A9A9;
}

.history-info .history-name {
	font-size: large;
	font-weight: bold;
	float: left;
	margin-right: 30px;
}

.history-info .history-name-title {
	font-size: large;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	color: darkblue;
}

.history-item {
	float: left;
	width: 20%;
}

.history-row {
	float: left;
	width: 100%;
	margin-top:15px;
}

.history-page-title {
	font-size:36px;
	color: darkred;
	margin-bottom:10px;
}

.history-overseas {
	font-size:smaller;
	font-weight:bold;
	font-style:italic;
	padding-top:2px;
}