.history-table {
	margin-right: 15px;
}

.history-row {
	background-color: lightgreen;
	border: 1px solid darkgreen;
}

.process-info img {
	max-width: 50px;
	float: left;
	margin: 0 2px 0 11px;
	border: solid 1px #A9A9A9;
}

.process-info .process-name {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height:20px;
	padding-top:4px;
}

.process-info .process-name-title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	color: darkblue;
}

.history-item {
	float: left;
	width: 20%;
}

.history-row {
	float: left;
	width: 100%;
	margin-top:15px;
}

.history-page-title {
	font-size:36px;
	color: darkred;
	margin-bottom:10px;
}

html, body {
	height: 100%
}

#holder {
	min-height: 100%;
	position: relative;
}

#container {
	min-height: 100%;
}

body, html, #container {
	height: 100%;
}

.process-body {
	height: 50%;
	width: 100%;
	background-color: lightgreen;
	margin: auto;
	text-align: center;
}

.process-footer {
	height: 50%;
	width: 50%;
	background-color: white;
	margin: 50px -15px;
	text-align: center;
	color: black;
	border:solid 1px black;
}

.process-name-row:hover {
	background-color:lightgray;
}

.btn-process {
	width:90px;
}

.row-selected {
	background-color: lightgray;
}