@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.spa-page-title {
	font-size: 36px;
	color: darkred;
	margin-bottom: 10px;
}
