.process-detail-row {

}

.body {
	background-color:white;
}

.process-detail-row img {
	max-width: 50px;
	float: left;
	margin: 0 2px; /*0 at top/bottom 2 left/right*/
	border: solid 1px #A9A9A9;
}

.process-detail-item {
	float:left;
	text-align:left;
}