<div class="row">
	<div *ngIf="errorMessage" class="alert alert-warning">{{errorMessage}}</div>
	<h3>Confirm Order</h3>
	<table class="table table-bordered table-hover">
		<tr>
			<td></td>
			<td>Description</td>
			<td>Quantity</td>
			<td>Price</td>
			<td>Total</td>
		</tr>
		<tr *ngFor="let o of data.order.items">
			<td class="product-info"><img src="/img/{{o.productFilePath}}" alt="o.title" class="img-thumbnail checkout-thumb" /></td>
			<td>{{ o.productTitle }} {{ o.productPrice }} - {{ o.productSize }}</td>
			<td>{{ o.quantity }}</td>
			<td>{{ o.unitPrice|currency:'GBP':true }}</td>
			<td>{{ (o.unitPrice * o.quantity)|currency:"GBP":"symbol-narrow" }}</td>
		</tr>
	</table>
</div>
<div class="row">
	<div class="col-md-4 text-left" *ngIf="data.address && data.user">
		<label>Address</label>
		<table class="table table-condensed table-bordered">
			<tr>
				<td class="text-left checkout-address">{{ data.user.firstName }} {{ data.user.lastName }}</td>
			</tr>
			<tr>
				<td class="text-left checkout-address">{{ data.address.addressline1 }}</td>
			</tr>
			<tr *ngIf="data.address.addressline2 checkout-address">
				<td class="text-left">{{ data.address.addressline2 }}</td>
			</tr>
			<tr>
				<td class="text-left checkout-address">{{ data.address.city }}</td>
			</tr>
			<tr>
				<td class="text-left checkout-address">{{ data.address.postcode }}</td>
			</tr>
			<tr>
				<td class="text-left checkout-address">{{ data.address.country }}</td>
			</tr>
		</table>
	</div>
	<div class="overseas col-md-2" *ngIf="data.order.orderTotal">
		<label>Overseas Address?</label>
		<input id="overseas" name="overseas" type="checkbox" [(ngModel)]="data.order.overseas"
			   (change)="recalculateTotal($event)">
	</div>
	<div class="col-md-6 text-right" *ngIf="data.order.orderTotal">
		<table class="table table-condensed">
			<tr>
				<td class="text-right">Subtotal</td>
				<td class="text-right">{{ data.order.subtotal|currency:"GBP":"symbol-narrow" }}</td>
			</tr>
			<tr>
				<td class="text-right">Shipping</td>
				<td class="text-right">{{ data.order.shipping|currency:"GBP":"symbol-narrow" }}</td>
			</tr>
			<tr>
				<td class="text-right">Total:</td>
				<td class="text-right">{{ data.order.orderTotal|currency:"GBP":"symbol-narrow" }}</td>
			</tr>
		</table>
		<button class="btn btn-success" (click)="onCheckout()">Complete Purchase</button>
		<a routerLink="/" class="btn btn-info">Cancel</a>
	</div>
</div>