.detail-row img {
	max-width: 500px;
	float: left;
	margin: 0 12px 0 11px;
	border: solid 1px #A9A9A9;
}

.detail-page-title {
	font-size: 36px;
	color: darkred;
	margin-bottom: 10px;
}

.detail-row .detail-item {
	font-size: large;
	font-weight: bold;
	float: left;
	margin-right: 30px;
	width:100%;
	margin-left:11px;
}

.detail-row {
	margin-right: 11px;
	background-color: dodgerblue;
}

.detail-back {
	font-size: 24px;
	cursor:pointer;
	color:blue;
}

/*body, html {
	height: 100% !important;
	background-color: dodgerblue;
	margin:0 !important;
}*/

.detail-row {
	height:100% !important;
	margin-bottom:110px;
}

/*#container {
	min-height: 100% !important;
	height: auto !important;
	height: 100% !important;
	margin: 0px;
	padding: 0px;
}*/
