.detail-row img {
	max-width: 500px;
	float: left;
	margin: 0 12px 0 11px; 
	border: solid 1px #A9A9A9;
}

.detail-page-title {
	font-size: 36px;
	color: darkred;
	margin-bottom: 10px;
}

.detail-row .detail-item {
	font-size: large;
	font-weight: bold;
	float: left;
	margin-right: 30px;
	width:100%;
	margin-left:11px;
}

.detail-row .detail-description {
   
}

