<div class="detail-page-title">Order Detail</div>
<div class="row">
	<h2>
		<a (click)="onBack()">&laquo;Back</a>
	</h2>
	<div class="col-md-12 well well-sm detail-row">
		<div class="detail-item">
			Product: {{product.title}}
		</div>
		<div class="detail-item">
			Size: {{product.size}}
		</div>
		<div class="detail-item">
			Price: {{product.price | currency:"GBP":true}}
		</div>
		<img src="/img/big-{{product.filePath}}" class="img-responsive" alt="product.title"/>
		<div class="detail-description">{{product.description}}</div>
	</div>
</div>
